# Data files
data/

# Model outputs
models/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebooks
*.ipynb

# Virtual environment
venv/
.venv

# run logs
mlruns/
wandb/