# Data files
data/

# Model outputs
models/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
.venv

# Other files
draft.ipynb
dataset_curation.ipynb

# run logs
mlruns/
wandb/